#name: Build and Push Docker Image
#
#on:
#  push:
#    branches: [master]
#  pull_request:
#    branches: [master]
#
#env:
#  REGISTRY: docker.io
#  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/balzgram
#
#jobs:
#  build-and-push:
#    runs-on: ubuntu-latest
#    
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v4
#
#      - name: Log in to Docker Hub
#        uses: docker/login-action@v3
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
#
#      - name: Extract metadata
#        id: meta
#        uses: docker/metadata-action@v5
#        with:
#          images: ${{ env.IMAGE_NAME }}
#          tags: |
#            type=raw,value=latest,enable={{is_default_branch}}
#            type=sha,prefix=
#            type=ref,event=branch
#
#      - name: Build and push Docker image
#        uses: docker/build-push-action@v5
#        with:
#          context: .
#          file: ./WebProj/Dockerfile
#          push: ${{ github.event_name != 'pull_request' }}
#          tags: ${{ steps.meta.outputs.tags }}
#          labels: ${{ steps.meta.outputs.labels }}
#