# Build and deploy container app to Azure Web App - Balzgram-api

name: Build and deploy container app to Azure Web App - Balzgram-api

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./WebProj/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/balzgram:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_4AD8DA2411C84DDDB700031DB45D8FB9 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4EDE83567962437BAD88A794C3A17361 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A483251ED9C544E18937E8CB05340048 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: Balzgram-api
          slot-name: Production
          images: ${{ secrets.DOCKERHUB_USERNAME }}/balzgram:latest
